<section class="login-component">
    <form novalidate>
        <mat-card>
            <mat-card-title>
                Logowanie
            </mat-card-title>
            <mat-card-content>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Login">
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput type="password" placeholder="Hasło">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="login-card-actions-reverse">
                <button mat-button>
                    zaloguj
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>