<div class="dashboard-container">
    <mat-toolbar color="primary" class="dashboard-toolbar" [style.height.px]="56">        
        <button mat-icon-button (click)="menuSidebar.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <h1 class="dashboard-header">Admin panell</h1>             
        <toolbar-user-info [user]="user" class="toolbar-user-info"></toolbar-user-info>
    </mat-toolbar>
    <mat-sidenav-container class="dashboard-sidenav-container">
        <mat-sidenav #menuSidebar [mode]="'side'" [opened]="true" fixedTopGap="56">
            <section class="dashboard-sidenav-nav-list">
                <my-menu-list [items]="menuItems"></my-menu-list>
            </section>            
        </mat-sidenav>
        <mat-sidenav-content>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>